<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>OTP for Login</title>
</head>
{{> header}}

<body style="font-family: Arial, sans-serif; color: #333;">
    <p>Hey {{name}},<br>Here's your verification code for App Dev:</p>
    <h1><b>{{otpCode}}</b></h1>
    <center>
        <p style="font-size: 12px;">Replies to this email are not monitored. Please contact your team leads if you're
            unable to sign in.</p>
    </center>
</body>
{{> footer}}

</html>