<footer>
    <hr>
    <center><a href="https://corp.appdevclub.com">App Dev People Portal</a></center>
    <center><span style="color: gray">Copyright © 2025 Atheesh Thirumalairajan</span></center>
</footer>