<table cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td style="vertical-align: middle;">
      <img src="https://appdevclub.com/logo256.png" width="48" height="48" alt="App Dev Club Logo" style="display:block;">
    </td>
    <td style="padding-left:8px; vertical-align:middle;">
      <span style="font-size:18px; line-height:1;">App Dev Club</span><br>
      <span style="color:gray;">People Portal &amp; Technology Operations</span>
    </td>
  </tr>
</table>
