<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Team Creation Update</title>
</head>
{{> header}}

<body style="font-family: Arial, sans-serif; color: #333;">
    <p>Hi {{requesterName}},<br> Your request to create the team <b>{{teamName}}</b> has been
        <b>{{status}}</b> by <b>{{approverName}}</b>
    </p>

    <p>For any questions or follow-ups, please reply to this email thread.</p>
</body>
{{> footer}}

</html>