<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Waitlisted for {{teamName}}</title>
</head>
{{> header}}

<body style="font-family: Arial, sans-serif; color: #333;">
    <p>Hey {{applicantName}},<br>You've passed the interview and met App Dev's high bar! That's a huge acheivement
        considering, you're one among the top 10% of our massive application pool.
    </p>
    <p>Our teams can fit only a limited amount of people considering the effort and time it takes to deliver an
        exceptional experience to our members and to raise the bar for our stakeholders. Considering this, we've put you
        on a waitlist and will get back to you as soon as possible.</p>
    <p>Our teams are insanely dynamic so, we cannot predict the chances of offering you a position this semester.
        However, we encourge you to follow up with {{contactName}} by replying to this email if you don't get a decision
        soon.</p>

    <p>Once again, thank you so much for your continued commitment towards joining the App Dev Club. You're one of the
        best undergrads out there but, unfortunately, we're really limited on spots.</p>
</body>
{{> footer}}

</html>