<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Update on Application to {{teamName}}</title>
</head>
{{> header}}

<body style="font-family: Arial, sans-serif; color: #333;">
    <p>Hey {{applicantName}},<br>Unfortunately, we're unable to offer you a position on the <b>{{teamName}}</b> team
        this semester.
    </p>

    <p>This was a tough decision to make but, we're limited on spots and we have an insane amount of aspiring undergrads
        applying every semester. This decision contributes to several factors and is not a reflection of your potential
        or skills.</p>

    <p>We really encourge you to apply again next semester, attend the symposium and network with our members to improve
        your chances. Once again, thank you so much for your interest towards joining the App Dev Club.</p>
</body>
{{> footer}}

</html>