<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Update regarding your role in {{teamName}}</title>
</head>
{{> header}}

<body style="font-family: Arial, sans-serif; color: #333;">
    <p>Hey {{memberName}},</p>
    <p>This email is to inform you that you have been removed from the <b>{{teamName}}</b> team.</p>
    <p>If you believe this is a mistake or have any questions, please reach out to your team lead or reply directly to
        this email.</p>
    <p>Best regards,<br>App Dev Club</p>
</body>
{{> footer}}

</html>